@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* TO use Box Model  */
  font-family: 'Merriweather', serif;
}

body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 40px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.navbar__brand {
  width: 90px;
}

.navbar__logo {
  width: 100%;
}

.button__primary {
  background: linear-gradient(to right, #d31027, #ea384d);

  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5%;
  cursor: pointer;
  font-size: medium;
  transition: ease-out 0.3s;
}

.button__primary:hover {
  box-shadow: inset 300px 0 0 0 #ce1212;
  color: #fff;
}
.container{
  width: 85%;
  margin: 20px auto;
  padding: 0 20px;
}
.hero__container{

  display: flex;
  flex-direction: row-reverse;
  margin: 160px 0px ;
  align-items: center;
  
}
.hero__image__container
{
  width : 600px;
}
.hero__img{
  border-radius: 10px;
  width: 100%;
}
.hero__description{
  width: 700px;
margin-right: 20px;
}
.hero__text{
  font-size: 3rem;
  color: #1d3557;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  line-height: 1;
  margin-bottom: 20px;
  
}
.food__list__container{
  position: relative;
  margin: 0px 0;
}
.food__list__container__diagonal{
  margin-top:0px ;
  position: absolute;
  background:linear-gradient(to right, #d31027, #ea384d);
  transform: skewY(-5deg);
  left: 0px;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -10;
}
.menu__card__list{
  display: flex;
  justify-content: space-around;
  padding: 50px 0 ;
  width: 100%;
  margin: 30px 0;
  
  /* height: 700px;  */
  
  
}
.menu__card{
  width: 100%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  margin: 0 20px;
  background: #fff;
}
.food__menu__card__image{
  width: 100%;
  border-radius:10px 10px 0 0 ;
}
.food__list__text{
  text-align: center;
  color: #000;
  font-size: 3rem;
}
.food__menu__card__details{
  margin: 25px 20px;
}
.food__menu__card__details p{
  display: inline;
}
