* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 10vh;
}
.navbar_brand {
  width: 100px;
}
.navbar_logo {
  width: 100%;
}
.nav_item {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
.nav_item:hover {
    color: #dd2476;
    background-image: none;
    background-color: #fff;
    border: 1px solid #ff512f;
    font-size: bold;

}
@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0px 30px;
  }
}
@media screen and (min-width: 1020px) {
  .navbar_brand {
    width: 150px;
  }
  .nav_item {
    padding: 20px;
    font-size: 20px;
  }
}
